<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ipp="">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>QBO Connect</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="<%= locals.appCenter %>/Content/IA/intuit.ipp.anywhere-1.3.1.js"></script>
  <script>
    intuit.ipp.anywhere.setup({
      grantUrl: 'https://dfp-qbo.btrsoftware.com:<%= locals.port %>/requestToken',
      datasources: {
        quickbooks: true,  // set to false if NOT using Quickbooks API
        payments: false    // set to true if using Payments API
      }
    });
  </script>
</head>

<body>
  <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-7">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://dfpromotions.com/"><img src="/images/logo.png"
                alt="Doug Fregolle Promotions"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    <div>
      <img src="/images/logo-2020.png" alt="BrightStores" style="height: 30px;"/>
    </div>
    <ipp:connectToIntuit></ipp:connectToIntuit>
  </div>
</body>

</html>