<!DOCTYPE html>
<html lang="en">

<head>
    <title>QBO Connect</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="" />
    <link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxloader.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            var baseurl = "https://dfp-qbo.btrsoftware.com:3001/orders/data?site_name=<%= locals.site_name %>&domain=<%= locals.domain %>&invoicepre=<%= locals.invoicepre %>&token=<%= locals.token %>";
            var url = baseurl + "&cdate=<%= locals.lastrun %>&todate=<%= locals.todate %>";
            // prepare the data
            var source = 
            {
                datatype: "json",
                datafields: [
                    { name: 'status', type: 'string' },
                    { name: 'customer', type: 'string' },
                    { name: 'order_id', type: 'string' },
                    { name: 'created_at', type: 'string' },
                    { name: 'details', type: 'string' },
                    { name: 'txstatus', type: 'string' },
                    { name: 'qbostatus', type: 'string' },
                    { name: 'status_date', type: 'string' },
                    { name: 'taxable', type: 'string' },
                    { name: 'discounts', type: 'string' }
                ],
                url: url,
                async: false,
            };

            var detailsource =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'string' },
                    { name: 'name', type: 'string' },
                    { name: 'customer', type: 'string' },
                    { name: 'final_sku', type: 'string' },
                    { name: 'quantity', type: 'string' }
                ],
                url: url,
            };


            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) {

                },
                loadError: function (xhr, status, error) { }
            });
            var detail = dataAdapter.records;
            console.log("data: ", dataAdapter);
            // create nested grid.
            var initrowdetails = function (index, parentElement, gridElement, record) {
                var detail = dataAdapter.records;
                console.log("data: ", dataAdapter);
                var id = record.uid.toString();
                if($($(parentElement).children()[0])) {
                    console.log("no data");
                }
                var grid = $($(parentElement).children()[0]);
                console.log("detail", detail[index]);
                var detailsource = {
                    datafields: [
                        { name: 'id', type: 'string' },
                        { name: 'name', type: 'string' },
                        { name: 'final_sku', type: 'string' },
                        { name: 'quantity', type: 'string' },
                    ],
                    datatype: 'json',
                    localdata: detail[index].details.line_items
                }
                var nestedGridAdapter = new $.jqx.dataAdapter(detailsource);
                if (grid != null) {
                    grid.jqxGrid({
                        source: nestedGridAdapter, width: 780, height: 200, editable: true,
                        columns: [

                            { text: 'Name', datafield: 'name', width: 200 },
                            { text: 'SKU', datafield: 'final_sku', width: 200 },
                            { text: 'Quantity', datafield: 'quantity', width: 150 }
                        ]
                    });
                }
            }



            // initialize jqxGrid
            $("#grid").jqxGrid(
                {
                    width: "900",
                    source: dataAdapter,
                    rowdetails: true,
                    pageable: true,
                    autoheight: true,
                    sortable: true,
                    altrows: true,
                    enabletooltips: true,
                    editable: true,
                    showfilterrow: true,
                    filterable: true,

                    selectionmode: 'checkbox',
                    ready: function () {
                        //$("#grid").jqxGrid('selectallrows');
                    },
                    initrowdetails: initrowdetails,
                    rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 10px;'></div>", rowdetailsheight: 220, rowdetailshidden: true },
                    columns: [

                        { text: 'Order ID', datafield: 'order_id', align: 'right', width: 100 },
                        { text: 'QBO Status', filtertype: 'checkedlist', datafield: 'qbostatus', width: 100 },
                        { text: 'Order Status', filtertype: 'checkedlist', datafield: 'status', width: 100 },
                        { text: 'Customer', datafield: 'customer', width: 300 },
                        { text: 'Taxable', datafield: 'taxable', width: 100 },                    
                        { text: 'Has Discount', datafield: 'discounts', width: 100 },
                        { text: 'Last Upload', datafield: 'status_date', width: 200 }, ,
                        { text: 'Created', datafield: 'created_at', width: 200 },
                    ],
                });
            
            $("#jqxButton").jqxButton({ width: 120, height: 40 });
            $("#jqxButton").on('click', function () {
                if (confirm("Upload invoices to Quickbooks?")) {

                    var selectedOrders = [];
                    var getselectedrowindexes = $('#grid').jqxGrid('getselectedrowindexes');
                    if (getselectedrowindexes.length > 0) {
                        for (var i = 0; i < getselectedrowindexes.length; i++) {
                            var selectedRowData = $('#grid').jqxGrid('getrowdata', getselectedrowindexes[i]);
                            selectedOrders.push(selectedRowData.order_id);
                        }
                        console.log(selectedOrders);

                    }
                    var cdate = $('#jqxdatetimeinput').jqxDateTimeInput('getDate');
                    var cdate2 = $('#jqxdatetimeinput2').jqxDateTimeInput('getDate');
                    location.href = "https://dfp-qbo.btrsoftware.com:3001/statustest?site_name=<%= locals.site_name %>&domain=<%= locals.domain %>&invoicepre=<%= locals.invoicepre %>&token=<%= locals.token %>"
                        + "&cdate=" + cdate.toISOString() + "&todate=" + cdate2.toISOString() + "&orders=" + encodeURIComponent(JSON.stringify(selectedOrders));
                }
                else {

                }
            });
            $("#jqxdatetimeinput").jqxDateTimeInput({ width: '250px', height: '25px' });
            $("#jqxdatetimeinput2").jqxDateTimeInput({ width: '250px', height: '25px' });
            $("#setDateButton").jqxButton();
            // set new date.
            $("#setDateButton").click(function () {
                $('#jqxLoader').jqxLoader('open');
                console.log("updating data");
                var cdate = $('#jqxdatetimeinput').jqxDateTimeInput('getDate');
                var cdate2 = $('#jqxdatetimeinput2').jqxDateTimeInput('getDate');
                //url = baseurl + "&cdate=" + cdate.toISOString();
                url = "https://dfp-qbo.btrsoftware.com:3001/orders?site_name=<%= locals.site_name %>&" +
                    "domain=<%= locals.domain %>&invoicepre=<%= locals.invoicepre %>&token=<%= locals.token %>" + 
                    "&lastrun=" + cdate.toISOString() + "&todate=" + cdate2.toISOString();
                console.log("updated data", url);
                location.href = url;
            });
            $('#jqxdatetimeinput').jqxDateTimeInput('setDate', new Date("<%= locals.lastrun %>"));
            $('#jqxdatetimeinput2').jqxDateTimeInput('setDate', new Date("<%= locals.todate %>"));
            $("#jqxLoader").jqxLoader({ width: 250, height: 150 });
        });
    </script>
</head>

<body class='default'>
    <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://dfpromotions.com/"><img src="/images/logo.png"
                                alt="Doug Fregolle Promotions"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div>
            <img src="/images/logo-2020.png" alt="BrightStores" style="height: 30px;" />
        </div>
    </div>
    <div id="jqxLoader">
    </div>
    <div style="color: #ffffff;">
    <div style="padding-top:20px"><div style="float:left; width:190px ">Show Transactions From</div><div  id='jqxdatetimeinput'></div></div>
    <div style="padding-top:10px"><div style="float:left; width:190px ">To</div><div  id='jqxdatetimeinput2'></div></div></div>
    <input id="setDateButton" type="button" value="Refresh" />
    <div id="grid" , width="900">
    </div>
    <div>
        <input type="button" value="Upload" id='jqxButton' />
    </div>
</body>

</html>