<!DOCTYPE html>
<html lang="en">

<head>
    <title>QBO Connect</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="" />
    <link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            var url = "https://dfp-qbo.btrsoftware.com:3001/run-results/data?runkey=<%= locals.runkey %>";
            // prepare the data
            var source = 
            {
                datatype: "json",
                datafields: [
                    { name: 'order_id', type: 'string' },
                    { name: 'txstatus', type: 'string' },
                    { name: 'status_date', type: 'string' },
                    { name: 'issues', type: 'string' },
                ],
                url: url,
                async: false,
            };

            var detailsource =
            {
                datatype: "json",
                datafields: [
                    { name: 'issue', type: 'string' },
                    { name: 'product', type: 'string' }
                ],
                url: url,
            };


            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) {

                },
                loadError: function (xhr, status, error) { }
            });
            var detail = dataAdapter.records;
            console.log("data: ", dataAdapter);
            // create nested grid.
            var initrowdetails = function (index, parentElement, gridElement, record) {
                var detail = dataAdapter.records;
                console.log("data: ", dataAdapter);
                var id = record.uid.toString();
                if($($(parentElement).children()[0])) {
                    console.log("no data");
                }
                var grid = $($(parentElement).children()[0]);
                console.log("detail", detail[index]);
                var detailsource = {
                    datafields: [
                        { name: 'issue', type: 'string' },
                        { name: 'product', type: 'string' },
                    ],
                    datatype: 'json',
                    localdata: detail[index].issues
                }
                var nestedGridAdapter = new $.jqx.dataAdapter(detailsource);
                if (grid != null) {
                    grid.jqxGrid({
                        source: nestedGridAdapter, width: 780, height: 200, editable: true,
                        columns: [

                            { text: 'Issue', datafield: 'issue', width: 200 },
                            { text: 'Product', datafield: 'product', width: 200 }
                        ]
                    });
                }
            }



            // initialize jqxGrid
            $("#grid").jqxGrid(
                {
                    width: "900",
                    source: dataAdapter,
                    rowdetails: true,
                    pageable: true,
                    autoheight: true,
                    sortable: true,
                    altrows: true,
                    enabletooltips: true,
                    editable: true,

                    selectionmode: 'checkbox',
                    ready: function () {
                        $("#grid").jqxGrid('selectallrows');
                    },
                    initrowdetails: initrowdetails,
                    rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 10px;'></div>", rowdetailsheight: 220, rowdetailshidden: true },
                    columns: [

                        { text: 'Order ID', datafield: 'order_id', align: 'right', width: 100 },
                        { text: 'TX Status', datafield: 'txstatus', width: 100 },
                        { text: 'Status Date', datafield: 'status_date', width: 200 },
                    ],
                });
            $('#grid').on('rowdoubleclick', function (event) {
                location.href = "/bs-aig";
            });
            $("#jqxButton").jqxButton({ width: 120, height: 40 });
            $("#jqxButton").on('click', function () {

                    location.href = "https://dfp-qbo.btrsoftware.com:3001/site-list";
            });
            
        });
    </script>
</head>

<body class='default'>
    <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://dfpromotions.com/"><img src="/images/logo.png"
                                alt="Doug Fregolle Promotions"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div>
            <img src="/images/logo-2020.png" alt="BrightStores" style="height: 30px;" />
        </div>
    </div>
    <div>
        <input type="button" value="Back to Site list" id='jqxButton' />
    </div>
    <div id="grid" , width="900">
    </div>

</body>

</html>