<!DOCTYPE html>
<html lang="en">
<head>
    <title>QBO Connect</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="" />
    <link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="../../jqwidgets/jqxgrid.edit.js"></script> 
    <script type="text/javascript" src="../../jqwidgets/jqxloader.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = "https://dfp-qbo.btrsoftware.com:3001/site-list/data";
            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'last_pull_date', type: 'string' },
                    { name: 'token', type: 'string' },
                    { name: 'last_tx_number', type: 'string' },
                    { name: 'full_name', type: 'string' },
                    { name: 'custom_domain', type: 'string' },
                    { name: 'site_name', type: 'string' },
                    { name: 'domain', type: 'string' },
                    { name: 'invoicepre', type: 'string' },
                    { name: 'sitestatus', type: 'string' },
                    { name: 'status_date', type: 'string' }
                ],
                url: url
            };
            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                if (value < 20) {
                    return '<span style="margin: 4px; margin-top:8px; float: ' + columnproperties.cellsalign + '; color: #ff0000;">' + value + '</span>';
                }
                else {
                    return '<span style="margin: 4px; margin-top:8px; float: ' + columnproperties.cellsalign + '; color: #008000;">' + value + '</span>';
                }
            }
            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            // initialize jqxGrid
            $("#grid").jqxGrid(
            {
                width: getWidth('Grid'),
                source: dataAdapter,                
                pageable: true,
                autoheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: false,
                selectionmode: 'multiplecellsadvanced',
                columns: [
                  { text: 'Site Name', datafield: 'full_name'},
                  { text: 'Last Pull Date', datafield: 'status_date' },
                  { text: 'Last Status', datafield: 'sitestatus' },
                  { text: 'Last Transaction Number', datafield: 'last_tx_number', align: 'right'},
                  { text: 'Invoice Prefix', datafield: 'invoicepre', align: 'right'},
                ],
            });
            $("#jqxLoader").jqxLoader({ width: 250, height: 150 });
            $('#grid').on('rowdoubleclick', function (event) {
                $('#jqxLoader').jqxLoader('open');
                var todate = new Date();
               location.href = "/orders?site_name=" + event.args.row.bounddata.site_name + "&invoicepre=" + event.args.row.bounddata.invoicepre +
                "&domain=" + event.args.row.bounddata.domain + "&token=" + event.args.row.bounddata.token 
                + "&lastrun=" + event.args.row.bounddata.status_date.replace(" ", "T")+ "&todate=" + todate.toISOString();;
            });
        });
    </script>
</head>
<body class='default'>
    <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://dfpromotions.com/"><img src="/images/logo.png"
                                alt="Doug Fregolle Promotions"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div>
            <img src="/images/logo-2020.png" alt="BrightStores" style="height: 30px;" />
        </div>
    </div>
    <div id="jqxLoader">
    </div>
    <div id="grid">
    </div>
</body>
</html>