<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>QBO Connect</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel=" stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxprogressbar.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript">
        console.log('process url', '/processorders/data?site_name=<%= locals.site_name %>&invoicepre=<%= locals.invoicepre %>&domain=<%= locals.domain %>&token=<%= locals.token %>&orders=<%= locals.orders %>&cdate=<%= locals.cdate %>');
        const source = new EventSource('/processorders/data?site_name=<%= locals.site_name %>&invoicepre=<%= locals.invoicepre %>&domain=<%= locals.domain %>&token=<%= locals.token %>&orders=<%= locals.orders %>&cdate=<%= locals.cdate %>&todate=<%= locals.todate %>');
        var max = 0;
        var runkey = "";
        source.addEventListener('runkey', message => {
            if (message.data) {
                runkey = message.data;
            }
        });

        source.addEventListener('goredirect', message => {
            console.log("got redirect")
            $('#jqxButton').show();

        });

        source.addEventListener('progress', message => {

            console.log('Got message', message);
            if (message.data) {

                if (message.data.includes("http")) {
                    //location.href = "https://dfp-qbo.btrsoftware.com:3001/orders?site_name=<%= locals.site_name %>&invoicepre=<%= locals.invoicepre %>&domain=<%= locals.domain %>&token=<%= locals.token %>";
                    $('#jqxButton').show();
                } else {
                    console.log(max, parseInt(message.data));
                    if (parseInt(message.data) > max) {
                        console.log('Got max', message.data);
                        max = parseInt(message.data);
                        $("#jqxProgressBar").jqxProgressBar({ max: message.data });
                    } else {
                        console.log('Got', message.data);
                        $("#jqxProgressBar").jqxProgressBar({ value: message.data });
                    }
                }
            }
            if (message.data == max) {
                $('#jqxButton').show();
                //location.href = "https://dfp-qbo.btrsoftware.com:3001/run-results?runkey=" + runkey;

            }
        });

        $(document).ready(function () {


            // Create jqxProgressBar.
            var renderText = function (text, value) {
                if (value < 55) {
                    return "<span style='color: #333;'>" + text + "</span>";
                }
                return "<span style='color: #fff;'>" + text + "</span>";
            }
            $("#jqxProgressBar").jqxProgressBar({ animationDuration: 0, showText: true, renderText: renderText, template: "primary", width: 250, height: 30, value: 0 });
            $("#jqxButton").jqxButton({ width: 120, height: 40 });
            $('#jqxButton').hide();
            $("#jqxButton").on('click', function () {
                
                location.href = "https://dfp-qbo.btrsoftware.com:3001/run-results?runkey=" + runkey;
            });

        });

    </script>
</head>

<body class='default'>
    <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://dfpromotions.com/"><img src="/images/logo.png"
                                alt="Doug Fregolle Promotions"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div>
            <img src="/images/logo-2020.png" alt="BrightStores" style="height: 30px;" />
        </div>
    </div>

    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
        <div style='margin-top: 10px;'>Upload Status</div>
        <div style='margin-top: 10px;' id='jqxProgressBar'></div>
    </div>
    <div>
        <input type="button" value="Show Results" id='jqxButton' />
    </div>
</body>

</html>